<table class="highlight">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Rating</th>
      <th>Category</th>
      <th> <a class="dropdownTrigger btn-flat cyan" href="#" data-target="dropdown1">Filter <i
            class="fas fa-caret-down"></i></a>

        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="button dropdown-content cyan-text">
          <li><a href="/">All</a></li>
          <li class="divider" tabindex="-1"></li>
          <li><a href="/status/To Read">To Read</a></li>
          <li class="divider" tabindex="-1"></li>
          <li><a href="/status/Reading">Reading</a></li>
          <li class="divider" tabindex="-1"></li>
          <li><a href="/status/Read" tabindex="-1">Read</a></li>
        </ul>
        </div>
      </th>
    </tr>
  </thead>

  <tbody>
    {{#each books}}
    <tr>
      <td>{{this.dataValues.title}}</td>
      <td>{{this.dataValues.author}}</td>
      <td>{{this.dataValues.user_rating}}</td>
      <td>{{this.dataValues.category}}</td>
      <td>{{this.dataValues.reading_status}}</td>
      <td> <button id="{{this.dataValues.id}}" onclick = "deleteBook" class="waves-effect waves-red btn-flat">Delete</button></td>
    </tr>
    {{/each}}
    <tr>
      <td>
        <div class="input-field">
          <input placeholder="Title" id="booktitle" type="text" class="validate">
          <label for="Title">Title</label>
        </div>
      </td>
      <td>
        <div class="input-field">
          <input placeholder="Author" id="author" type="text" class="validate">
          <label for="Author">Author</label>
        </div>
      </td>
      <td>
        <div class="input-field">
          <input placeholder="Rating" id="rating" type="text" class="validate">
          <label for="Rating">Rating</label>
        </div>
      </td>
      <td>
        <div class="input-field">
          <input placeholder="Category" id="category" type="text" class="validate">
          <label for="Category">Category</label>
        </div>
      </td>
      <td>
        <div class="input-field">
          <input placeholder="Status" id="status" type="text" class="validate">
          <label for="Status">Status</label>
        </div>
      </td>
      <th><button id="addBtn" class="waves-effect waves-cyan btn cyan">Add</button></th>
    </tr>
  </tbody>
</table>